<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XueQiaoWaf.LoginUserManage.Modules.Applications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XueQiaoWaf.LoginUserManage.Modules.Applications.Properties.Settings>
            <setting name="RememberCompanyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberCompanyGroupCode" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRememberLoginInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberSelectHostingMode" serializeAs="String">
                <value />
            </setting>
            <setting name="PersonalUserLoginTelNumer" serializeAs="String">
                <value />
            </setting>
            <setting name="PersonalUserSelectHostingMode" serializeAs="String">
                <value />
            </setting>
        </XueQiaoWaf.LoginUserManage.Modules.Applications.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>