<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppAssembler.Applications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AppAssembler.Applications.Properties.Settings>
            <setting name="ModuleAssemblies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XueQiaoFoundation.UI.dll</string>
                        <string>XueQiaoWaf.LoginUserManage.Modules.Presentation.dll</string>
                        <string>XueQiaoWaf.LoginUserManage.Modules.Applications.dll</string>
                        <string>XueQiaoWaf.Trade.Modules.Presentation.dll</string>
                        <string>XueQiaoWaf.Trade.Modules.Applications.dll</string>
                        <string>Manage.Presentations.dll</string>
                        <string>Manage.Applications.dll</string>
                        <string>XueQiaoFoundation.Applications.dll</string>
                        <string>ContainerShell.Presentations.dll</string>
                        <string>ContainerShell.Applications.dll</string>
                        <string>Research.app.dll</string>
                        <string>System.Waf.Wpf.dll</string>
                        <string>Touyan.app.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThriftHttpLibEnv" serializeAs="String">
                <value />
            </setting>
        </AppAssembler.Applications.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
</configuration>