<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3578.1870" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3578.1870" targetFramework="net452" />
  <package id="CefSharp.Common" version="71.0.2" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="71.0.2" targetFramework="net452" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net452" />
  <package id="Gu.Wpf.Adorners" version="1.5.1.0" targetFramework="net452" />
  <package id="HockeySDK.Core" version="4.1.6" targetFramework="net452" />
  <package id="HockeySDK.WPF" version="4.1.6" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="ToastNotifications" version="2.5.0" targetFramework="net452" />
</packages>